a.task-btn {
  color: white;
  background: rgb(108, 154, 240);
  height: 3rem;
  border: 0;
  text-align: center;
  line-height: 4.5rem;
  text-decoration: none;
  width: 300px;
  height: 70px;
  font-size: 1.5rem;
}

a.task-btn:hover {
  background: rgb(53, 93, 167);
}



/* .container .wrapper {
  max-width: 20rem;
}

.container {
  width: 50%;
  margin: 0;
  align-items: center;
} */

.wrapper {
  width: 0;
}

@media (max-width: 420px) {
  .details p {
    font-size: 0.2em;
  }

  .jumbotron.jumbotron-fluid {
    height: 170px !important;
  }

  .column .citation-info {
    margin-left: 0px;
    width: 140px;
  }

  /* .task-btn-container .wrapper {
    width: 240px;
  }

  .task-btn-container.container {
    margin: 40px;
    padding-top: 50px;
  } */

  /* .container-fluid {
    margin-right: 100px;
  }
  .container {
    margin-top: 100px;
  } */

}

Link {
  color: white;
}

.v-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jumbotron {
  border-radius: 6px;
  /* max-height: 230px; */

}

.details {
  margin: 5px 5px 15px 15px;
  align-items: flex-start;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.contact-info {
  font-size: 0.7rem;
  padding: 2px 2px 2px 2px;
  margin: 10px;
  background-color: black;
  width: 150px;
}

.contact-info p,
.citation-info p {
  margin: 6px;
}

.citation-info {
  font-size: 0.7rem;
  padding: 2px 2px 2px 2px;
  margin: 10px;
  background-color: black;
  width: 230px;
  margin-left: auto
}

.citation {
  margin: 10px;
}