
a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  color:#23527c;
}
a:visited {
  color: #8d75a3;
}



li {
  list-style: none;
  margin-bottom: 1rem;
}

/* input,
textarea,
button {
  width: 20%;
  border: 1px solid #000;
} */

* {
  box-sizing: border-box;
}


/* button {
  color: white;
  font-size: 20px;
  padding: 0rem;
} */

.next-task-btn {
  height: 3rem;
  min-width: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: green;
  box-shadow: inset 0 -0.15rem 0 rgba(68, 0, 0, 0.2);
  justify-content: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 1rem;
}

.next-task-btn:disabled {
  background: gray;
}


/* .next-task-btn:hover, button:focus {
  background: rgb(34, 13, 68);
  outline: 0;
} */
AudioPlayer {
  width: 200px;
}

.container-fluid {
  margin: 1rem 0;
  padding: 1.5rem;
}


/* .container-test {
  background: blue;
  margin: 0 !important;
  padding: 0 !important;
} */

.student-test-inner {
  padding-bottom: 5%;
  
}
.student-test-outer {
  padding: 5% 30%;
}

.fa-check {
  opacity: 0;                /* Opacity (Transparency) */
    color: rgba(0, 0, 0, 0.75);   /* RGBA Color (Alternative Transparency) */
    -webkit-filter: blur(2px);    /* Blur */
    -moz-filter: blur(2px);
    filter: blur(2px);
}

@media (max-width: 420px) {
  .student-test-inner {
    padding-bottom: 10%;
    
  }
  .student-test-outer {
    padding: 5%;
  }
  .test-container {
    padding: 0;
  }
}